<MudContainer MaxWidth="MaxWidth.Large" Class=" pt-5">
    <MudStack>
        <div>
            <MudText>Seja Bem-vindo, @user.MyAccount!.Name</MudText>
        </div>
    </MudStack>
</MudContainer>

@code {
    [Parameter] public CurrentUser user { get; set; } = new CurrentUser();

}